.container-fluid {
  background: rgb(34,58,137);
  background: linear-gradient(90deg, rgba(34,58,137,0.6867121848739496) 0%, rgba(236,100,28,0.700717787114846) 100%);
}

.form-card {
  background: #ffffff4f;
}
